*.o
*.lo
*.a
*.la

.deps
.libs
stamp-h1
depcomp

Makefile
Makefile.in
configure
config.sub
config.status
config.log
config.h
config.guess
autom4te.cache
aclocal.m4
mkinstalldirs
missing
ltmain.sh
libtool
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
gnome-doc-utils.make

glom.desktop
glom.desktop.in
