/glade_toplevels_instantiation
/test_load_python_library
/test_parsing_time
/test_python_module
/test_signal_reemit
/import/test_parsing
/import/test_signals
/test_document_autosave
/test_document_load
/test_document_load_and_change
/test_document_change
/test_glade_derived_instantiation
/test_selfhosting_new_empty
/test_selfhosting_new_from_example
/test_selfhosting_new_then_alter_table
/test_selfhosting_new_then_backup_restore
/test_selfhosting_new_then_get_privs
/test_selfhosting_new_then_image
/test_selfhosting_new_then_report
/test_selfhosting_sqlinjection
/test_fake_connection
/test_selfhosting_new_from_example_strangepath
/test_selfhosting_new_then_change_columns
coverage/

