/ui/glade_toplevels_instantiation
/test_field_file_format
/test_iso_codes
/test_load_python_library
/test_parsing_time
/test_python_module
/test_signal_reemit
/import/test_parsing
/import/test_signals
/translations_po/test_document_export_po
/translations_po/test_document_import_po
/test_conversions
/test_document_autosave
/test_document_load
/test_document_load_and_change
/test_document_load_and_save
/test_document_load_image
/test_document_change
/test_document_load_translations
/test_fake_connection
/ui/test_glade_derived_instantiation
/ui/test_imageglom_widget
/export/test_selfhosting_new_then_export
/export/test_selfhosting_new_then_export_with_big_num
/test_glom_date_in_locales_lc_time.sh
/test_glom_date_in_locales.sh
/test_layout_item_field
/test_script_check_for_problems
/test_selfhosting_new_empty
/test_selfhosting_new_empty_change_sysprefs
/test_selfhosting_new_empty_then_users
/test_selfhosting_new_from_example
/test_selfhosting_new_from_example_defaultvalues
/test_selfhosting_new_from_example_float
/test_selfhosting_new_from_example_operator
/test_selfhosting_new_from_example_table_name_with_space
/test_selfhosting_new_then_alter_table
/test_selfhosting_new_then_backup_restore
/test_selfhosting_new_then_get_privs
/test_selfhosting_new_then_image
/test_selfhosting_new_then_report
/test_selfhosting_new_then_report_summary
/test_selfhosting_new_then_choices
/test_selfhosting_new_then_lookup
/test_selfhosting_new_then_report_summary
/test_selfhosting_non_numeric_primary_keys
/test_selfhosting_sqlinjection
/test_selfhosting_new_from_example_strangepath
/test_selfhosting_new_then_change_columns
/test_xml_utils


coverage/

*.log
*.trs
